.footer-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: white;
  padding: 5px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-top: -15px;
}

.icon-container:hover {
  transform: scale(1.05);
  background-color: #e0e0e0;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container.active {
  background-color: #00A18D;
  color: white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon-container.active:hover {
  background-color: #008f7a;
}

.footer-icon {
  font-size: 20px;
  margin-bottom: 2px;
}

.icon-container span {
  font-size: 10px;
  font-weight: 500;
}
