.App{
    background-color: #1E1E1E;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (max-width: 480px) {
    .App {
        min-height: 100vh;
        max-width: 480px;
        margin: 0 auto;
        box-shadow: 0 0 10px rgba(0,0,0,0.3);
        background-color: #1E1E1E;
    }
}