html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1E1E;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Responsive: center H3 headings on narrow viewports regardless of container width */
@media (max-width: 767px) {
  h3 {
    display: block;
    width: 100%;
    text-align: center !important;
    margin-left: auto !important;
    margin-right: auto !important;
    box-sizing: border-box;
  }
}
