body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  color: #212121;
}
.landing-container- {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 100px 180px 100px;
  background-image: url('/images/Vectors.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  box-sizing: border-box;
}
.content- h2 {
  font-family: castoro;
  font-size: 48px;         
  font-weight: 400;         
  line-height: 100%;        
  letter-spacing: 0;        
  color: #212121;
  margin-bottom: 80px;

}
h2{
  text-align: center;
  padding:0px 0px 0px;
  margin: 0px 0px 0px;
}
.header-part {
  color: #2b7a0b;
  font-weight: 400;
  
  justify-content: center;
}

.cards- {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 2.1cm;
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  position: relative;
  z-index: 2;

}

.card- {
  background: #ffffff;
  border-radius: 16px;
  padding: 1px 8px 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 182px;
  position: relative;
  padding-top: 70px;
}

.card-:hover {
  transform: translateY(-8px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}

.card- img {
  height: 300px;
  width: 300px;
  position: absolute;
  top: -145px;
  background: transparent;
  object-fit: contain;
}

.card- h3 {
  font-size: 35px;        
  font-weight: 600;
  margin: 12px 0;
  color: #212121;
}

.card- p {
  font-size: 15px;
  color: #616161;
  margin-bottom: 8px;
  flex: 1;
}

.card- button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 12px 75px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.3s ease;
  margin-top: 8px;
}

.card- button:hover {
  background-color: #c62828;
}

@media (max-width: 100%) {
  .landing-container- {
    padding: 60px 20px 40px;
  }

  .content- h2 {
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 60px;
  }

  .card- {
    padding: 25px;
    padding-top: 60px;

  }

  .card- img {
    height: 80px;
    width: 80px;
    top: -40px;
  }

  .card- h3 {
    font-size: 22px;
  }

  .card- p {
    font-size: 13px;
    margin-bottom: 6px;
  }

  .card- button {
    margin-top: 6px;
  }
}
