.footer-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #2A2A2A;
  padding: 5px;
  border-top: 1px solid #333333;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  margin-top: -15px;
}

.icon-container:hover {
  transform: scale(1.05);
  background-color: #333333;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.icon-container.active {
  background-color: #FFB703;
  color: #1E1E1E;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(255, 183, 3, 0.2);
}

.icon-container.active:hover {
  background-color: #FFC230;
}

.footer-icon {
  font-size: 20px;
  margin-bottom: 2px;
  color: #888888;
}

.icon-container.active .footer-icon {
  color: #1E1E1E;
}

.icon-container span {
  font-size: 10px;
  font-weight: 500;
  color: #888888;
}

.icon-container.active span {
  color: #1E1E1E;
}
